body{
	background-color:pink;
}
#name{
	display:block;
	position:absolute;
	top: 500px;
	left: 500px;
	font-size:42px;
	transition:all linear 0.5s;
	-webkit-animation: myfirst 3s linear infinite;
}

@-webkit-keyframes myfirst {
    0% {top: 500px;}
    50% {top: 700px;}
		100% {top: 500px;}
}

#name:hover{
	transform:rotateZ(180deg);
}
